/* Wide Desktop view*/
@media only screen and (min-width: 54em) {
    a {
        color: black;
        margin: 0;
    }
    .navigation {
        display: flex;
        border: 1px solid black;
    }

    .navigation a {
        font-size: 1.3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: white;
        color: black;
        font-weight: 525;
        /*border: 1px solid #1e2748;*/
    }

    .navigation a:hover {
        background-color: #307ad9;
        border-radius: 0;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        overflow: hidden;
    }

    navigation li::before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 100%;
        background-color: black;
        border-radius: 0;
        top: 0;
        left: -0.75em;
        transition: 0.5s ease-out;
    }
    
    navigation li:hover::before {
        transform: scale(7);
    }

    header {
        flex-direction: row;
    }

    .logo {
        margin: .8rem 2rem;
    }

    .motto {
        font-size: 1.5rem;
    }

    .headerNav {
        display: block;
    }

    .navigation a.active {
        background: #307ad9;
        border-radius: 0px;
        color: white;
        font-weight: bold;
    }

    video {
        display: none;
    }

    /* Image under header */
    .homePage_image {
        display: block;
        width: 100%;
        height: 700px;
    }

    .imageContainer {
        display: block;
        position: relative;
        width: 100%;
    }

    .imageContent {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        text-shadow: 3px 3px 3px black;
    }

    .imageContent button:hover {
        font-size: 1.6rem;
    }

    .imageButton {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background: red;
        color: white;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .smallCall{
        display: none;
    }

    .homeAbout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 2rem;
    }

    .homeAbout a:hover {
        font-size: 1.4rem;
    }

    .homeBio {
        /*max-width: 45%;*/
        max-width: 514px;
        max-height: 253px;
    }

    .home_bioTextContainer {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .home_bioText {
        font-size: 1.3rem;
        padding: 0 50px;
    }

    .realtor_homeownerContainer {
        display: flex;
        text-align: center;
        margin: 2rem;
        align-items: center;
        justify-content: center;
    }

    .realtorImageBox, .homeownerImageBox {
        width: 100%;
        max-width: 650px;
    }

    .realtor_homeownerContainer button:hover {
        font-size: 1.6rem;
    }

    .realtor_homeownerButton {
        cursor: pointer;
        background: #307ad9;
        color: white;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.5rem;
        padding: .8rem;
        margin: 0 2rem;
    }

    .homeServices {
        display:flex;
    }

    .homeServicesBoxBlock {
        font-size: 1.5rem;
    }

    .homeServices li {
        font-size: 1.3rem;
    }

    .homeServices h2 {
        font-size: 2em;
    }

    .homeServices a:hover {
        font-size: 1.4rem;
    }

    .homeAboutLink {
        font-size: 1.3rem;
        padding: 0 50px;
    }

    .homeServicesLink {
        font-size: 1.3rem;
    }



    /* REALTOR & HOMEOWNER PAGE CSS */
    .realtorContent, .homeownerContent {
        display: flex;
    }

    .realtorContentLeft, .homeownerContentLeft {
        display: block;
        margin: 1rem;
    }

    .realtorContentRight, .homeownerContentRight {
        display: block;
        margin: 1rem;
    }

    .realtorIntro h1, .realtorContent h1, .homeownerIntro h1, .homeownerContent h1 {
    font-size: 2.5rem;
    }

    .realtorContent h2, .homeownerContent h2 {
        font-size: 1.8rem;
    }

    .realtorContent p, .realtorContent li, .realtorIntro p, .homeownerContent p, .homeownerContent li, .homeownerIntro p {
        font-size: 1.2rem;
    }

    /* Review Page */

    .reviewContainer {
        position: relative;
        width: 100%;
    }

    .reviewContent {
        position: absolute;
        top: 0;
        color: white;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .reviewContent h2 {
        font-size: 4rem;
        color: white;
        text-shadow: 2px 2px 10px black;
        margin: 5rem 0;
    }

    .reviewImage {
        display: block;
        height: auto;
        margin: 0 auto;
        min-height: 900px;
        max-height: 1000px;
        min-height: 950px;
    }

    /*.review_card {
        flex: 1 1 calc(20% - 1.5rem);
        max-width: calc(20% - 1.5rem);
}

    /* Opacity - FF = 100%, BF = 75%, 80 = 50%, 40 = 25%, 00 = 0% */
    .reviewForm {
        background: #1e2748BF;
        width: 45%;
        padding: 3rem 5rem;
    }

    .reviewForm h1 {
        font-size: 2.3rem;
    }

    .reviewForm label {
        font-size: 1.1rem;
    }


    /* Thank You Page */
    .thankyou_container h1 {
        font-size: 2.7rem;
        margin: .7rem;
    }

    .thankyou_container p {
        font-size: 1.4rem;
    }

    /* Admin Page */


    /* About Page */
    .aboutContainer {
        padding: 0 4rem;
    }

    .aboutContent p {
        font-size: 1.2rem;
    }

    .service_card {
        font-size: 1.1rem;
    }
    
    .service_card h3 {
        font-size: 2.1rem;
    }

    .service_nav {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .service_select {
        display: block;
        color: white;
        text-align: center;
        margin: 0;
        font-size: .9rem;
        text-shadow: 3px 3px 5px #307ad9;
    }

    .back_to_top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #307ad9;
        color: white;
        padding: 10px 15px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 2px 2px 6px black;
    }

    .back_to_top:hover {
        background: #1161cb;
    }


}   